PORT=5010
DATABASE_URL="postgresql://postgres:password@localhost:5432/s1_db?schema=public"
APP_URL="http://localhost:3010"
BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET="s1_access_secret_super_secure_key_2026"
JWT_REFRESH_SECRET="s1_refresh_secret_super_secure_key_2026"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="30d"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_SECRET=""

